{% extends 'FrontendBundle::base.html.twig' %}


{% block title %}Acceso a Marta {% endblock %}

{% block body %}
  {% if error %}
    <div>{{ error.message }}</div>
  {% endif %}

  <form action="{{ path('user_login_check') }}" method="post">
    <label for="login">Usuario:</label><input type="text" id="login" name="_username" value="{{ last_username }}" />
    <br />
    <label for="password">Contraseña:</label><input type="password" id="password" name="_password" />
    <br />
    <input type="checkbox" id="remember" name="_remember_me" checked="checked" /><label for="remember">Recuerdame</label>
    <input type="submit" value="acceder">
  </form>

{% endblock %}